.home-content {
  width: 100%;
  height: calc(100vh - 80px - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content h1 {
  margin: 20px;
  font-size: 100px;
}
.home-content h2 {
  margin: 10px;
  font-size: 60px;
  margin-bottom: 50px;
}
